* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
 }


main{
    display: flex;
    flex-direction: column;
    /* padding: 50PX;
    gap: 30px; */
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

h1{
    color: #486284;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 5% auto;
}


#container-characters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    width: 90%;
    margin-left: 2%;

}



.buyCards {
    background-color: #DEE5ED;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 4%;
    border: none;
    margin: 5% 0;
    width: 90%;
}

.buyCards.hidden {
    display: none;
}

.CardsDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.buybutton{
    color: white;
    background-color: #306BB3;
    padding: 8px 25px;
}

.filter{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 2%;
}

.filter li {
    border-bottom: 1px solid gray;
    font-weight: normal;
    width: 100%;
    text-align: center/* fuente normal por defecto */
}
  
.filter li:hover {
    border-bottom: 2px solid black; /* línea negra al pasar el mouse */
    font-weight: bold; /* fuente en negrita al pasar el mouse */
}
.cards{
    color: #306BB3;
    position: absolute;
    right: 0;
}

.imgPokemon {
    background-color: white;
    border-radius: 4px;
}

.showCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: relative; */
    right: 0;
    margin: 5%;
}

.button{
    color: white;
    background-color: #306BB3;
    padding: 8px 25px;
}