* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

section{
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    /* padding: 50PX;
    gap: 30px; */
}

.cualquiera{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}


h1{
    color: #486284;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 5% auto;
}


#container-characters {
    /* gap: 0.1rem;
    grid-template-rows: 5rem; 
    grid-template-columns: repeat(4);
    justify-content: start;
    width: 90%;
    margin-left: 2%;
    */
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin: 5%;

}



.buyCards {
    background-color: #DEE5ED;
    /*width: calc(90% / 4);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 3%;
    border: none;
    margin: 5% 0;
    width: 90%;
}

.buyCards.hidden {
    display: none;
}

.CardsDetails {
    background-color: #DEE5ED;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}

.buybutton{
    color: white;
    background-color: #306BB3;
    padding: 8px 25px;
}

.filter{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 2%;
}

.filter li {
    border-bottom: 1px solid gray;
    font-weight: normal;
    width: 100%;
    text-align: center
}

.filter li:hover {
    border-bottom: 2px solid black; 
    font-weight: bold; 
}
.cards{
    color: #306BB3;
    position: absolute;
    right: 0;
}

.imgPokemon {
    background-color: white ;
    border-radius: 10px;
    font-weight: 20px
    
}

.showCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: relative; */
    right: 0;
    margin: 5%;
}

.button{
    color: white;
    background-color: #306BB3;
    padding: 8px 25px;
}