body.dark_mode {
    
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
.dark_mode>main>section>ul>li>a{
    color: white;
}
.grid{
  color: #1a1a1a;
}

.dark_mode>main>section>ul>li:hover {
  border-bottom: 2px solid white; 
  font-weight: bold; 
}

.colortitle{
  color: white;
}